@font-face {
    font-family: 'Oswald_light';
    src: url('../assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Oswald_regular';
    src: url('../assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Oswald_bolder';
    src: url('../assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Monserrat_medium';
    src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

:root {    
    font-size: 16px;
    --font-light: 'Oswald_light';
    --font-regular:'Oswald_regular';
    --font-bolder: 'Oswald_bolder';
    --font-paragraph: 'Monserrat_medium';
    --colorPrimario: #04c663;
    --verdePalido: #647852;
    --colorSecundario: #1A1A1A;
    --blanco: #fff;
    --blancoSuave: #eee;
    --negro: #000;
    --negroSuave: #333;
    --gris: #666;     
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1 {
    font-family: var(--font-bolder);
    font-size: 4rem;
}
h2 {
    font-family: var(--font-regular);
    font-size: 3rem;
}
p {
    font-family: var(--font-paragraph);
}
html {
    width: 100%;
}
body {
    background-color: var(--colorSecundario);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-top: auto;
    margin-bottom: auto;
}

/* --------- CONTENT BETWEEN HEADER AND FOOTER ---------*/
.main-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 113px 0 0 0;    
}

/* --------------- CARRUSEL PORTADA ---------------*/
.background-container {
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('../img/home-background-0.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 0;
}
.ppal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90%;
    position: relative;
    overflow-x: hidden;
}
.text {
    width: auto;
    margin-right: 40%;
    margin-left: 15%;
    color: var(--blanco);
}
#carrusel-h1 {
    margin-top: -1rem;
    margin-bottom: 1rem;
}
#btn-carusel {
    display: flex;
    height: 5vh;
    width: 12rem;
    margin-top: 2rem;
    font-family: var(--font-paragraph);
    font-size: 1.1rem;
    color: var(--blanco);
    border: var(--gris) 2px solid;
    justify-content: center;
    align-items: center;
}
#btn-carusel:hover {
    border: var(--blanco) 2px solid;
    transition: 0.4s;
}
.left-btn, .right-btn {
    display: flex;
    align-items: center;
}
.left-btn > img, .right-btn > img {
    height: 2rem;
    cursor: pointer;
}
.left-btn {
    position: absolute;
    left: -19px;    
}
.right-btn {
    position: absolute;
    left: calc(100% + 19px);
}
.content-container:hover {
    .left-btn {
        left: calc(0% + 19px);
        transition: 0.4s; 
    }
    .right-btn {
        left: calc(100% - 38px);
        transition: 0.4s; 
    }
}

.dot-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}
.dot-btn {
    height: 0.7rem;
    width: 0.7rem;
    background: transparent;
    border-radius: 50%;
    margin: 0.3rem;
    border: 1px var(--blanco) solid;
    cursor: pointer;
}

.dot-btn:hover {
    border: 2px var(--blanco) solid; 
}
.dot-btn.active {
    background: var(--blanco);
    border: 1px solid var(--blanco);
}


/* Tablet horizontal */
@media (max-width: 1080px) { 
    .text {
        margin-right: 30%;
    }
    #carrusel-h1 {
        font-size: 3.4rem;
    }
    #carrusel-h2 {
        font-size: 2.4rem;
    }
}
/* Tablet vertical */
@media (max-width: 768px) {
    .text {
        margin-right: 20%;
    }
    #carrusel-h1 {
        font-size: 3rem;
    }
    #carrusel-h2 {
        font-size: 2rem;
    }
 }
/* Mobil 1 */
@media (max-width: 480px) { 
    .text {
        margin-right: 10%;
    }
    #carrusel-h1 {
        font-size: 3rem;
    }
    #carrusel-h2 {
        font-size: 2rem;
    }
}
/* Mobil 2 */
@media (max-width: 375px) { 
    .text {
        margin-right: 0;
    }
    #carrusel-h1 {
        font-size: 2.5rem;
    }
    #carrusel-h2 {
        font-size: 1.8rem;
    }
}

/* --------------- NUESTROS PRODUCTOS ---------------*/
.nuest-prod {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    justify-content: center;
    align-items: center;
    background-color: var(--blancoSuave);
}
#nuestprodH1 {
    font-size: 2rem;
    color: var(--colorSecundario);
    
}
#nuestprod-line {
    border-top: 2px solid var(--colorPrimario);
    height: 2px;
    width: 10rem;
    margin: 2rem;
}

.nuestprod-carrusel-maincont {
    height: 16rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#nuestprod-cont-carrusel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 100%;
}
#nuestprod-carrusel {
    height: 90%;
    width: calc(100% - 90px);
    background-color: var(--blanco);
    overflow-x: hidden;
    position: relative;
}
#nuestprod-carrusel-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: auto;
    height: 100%;
    position: absolute;
    left: 0%;
}
.card-front {
    padding: 0;
    top: -50px;
    scale: 0.8;
}
.card-back {
    width: 60%;
    height: 90%;
    max-height: 70%;
    top: -3%;
    object-fit: fill;
    scale: 0.8;
    margin-bottom: 10px;
    border-radius: 10px;
}
#nuestprod-left-btn, #nuestprod-right-btn {
    display: flex;
    align-items: center;
}
#nuestprod-left-btn > img, #nuestprod-right-btn > img {
    height: 2rem;
    cursor: pointer;
}
#nuestprod-left-btn {
    position: absolute;
    left: 19px;
    filter: invert();  
}
#nuestprod-right-btn {
    position: absolute;
    left: calc(100% - 38px);
    filter: invert();
}
/* .nuestprod-left-btn:checked {
    
    #nuestprod-carrusel-content {
        transform: translateX(0);
    }
}
.nuestprod-right-btn:checked {
    #nuestprod-carrusel-content {
        transform: translateX(-50%);
    }
} */

.dot-btn-containerNP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0vh;
}
.dot-btnNP {
    height: 0.7rem;
    width: 0.7rem;
    background: transparent;
    border-radius: 50%;
    margin: 0.3rem;
    border: 1px var(--colorSecundario) solid;
    cursor: pointer;
}
.dot-btnNP:hover {
    border: 2px var(--colorSecundario) solid; 
}
.dot-btnNP:active{
    background: var(--colorSecundario);
    border: 1px solid var(--colorSecundario);
}
.dot-btnNP.active {
    background: var(--colorSecundario);
    border: 1px solid var(--colorSecundario);
}

/* Tablet horizontal */
@media (max-width: 1080px) { 
   
}
/* Tablet vertical */
@media (max-width: 768px) {
   
 }
/* Mobil 1 */
@media (max-width: 480px) { 
  
}
/* Mobil 2 */
@media (max-width: 375px) { 
    
}

/* --------------- NUESTRO TE ---------------*/


/* Tablet horizontal */
@media (max-width: 1080px) { 
   
}
/* Tablet vertical */
@media (max-width: 768px) {
   
 }
/* Mobil 1 */
@media (max-width: 480px) { 
  
}
/* Mobil 2 */
@media (max-width: 375px) { 
    
}


/* --------------- CERCA TUYO ---------------*/


/* Tablet horizontal */
@media (max-width: 1080px) { 
   
}
/* Tablet vertical */
@media (max-width: 768px) {
   
 }
/* Mobil 1 */
@media (max-width: 480px) { 
  
}
/* Mobil 2 */
@media (max-width: 375px) { 
    
}