@import url('./variables.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1 {
    font-family: var(--font-bolder);
    font-size: 4rem;
}
h2 {
    font-family: var(--font-regular);
    font-size: 3rem;
}
p {
    font-family: var(--font-paragraph);
}
a {
    text-decoration: none;
}
html {
    width: 100%;
}
body {
    background-color: var(--colorSecundario);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-top: auto;
    margin-bottom: auto;
}

/* --------- CONTENT BETWEEN HEADER AND FOOTER ---------*/
.main-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 92px 0 0 0;    
    background-color: var(--blanco);
}

/* --------------- CARRUSEL PORTADA ---------------*/
.background-container {
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('../img/home-background-0.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 0;
}
.ppal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90%;
    position: relative;
    overflow-x: hidden;
}
.text {
    width: 100%;
    margin-right: 40%;
    margin-left: 12%;
    color: var(--blanco);
}
#carrusel-h1 {
    margin-top: -1rem;
    margin-bottom: 1rem;
}
#btn-carusel {
    display: flex;
    height: 5vh;
    width: 12rem;
    margin-top: 2rem;
    font-family: var(--font-paragraph);
    font-size: 1.1rem;
    color: var(--blanco);
    border: var(--gris) 2px solid;
    justify-content: center;
    align-items: center;
}
#btn-carusel:hover {
    border: var(--blanco) 2px solid;
    transition: 0.4s;
}
.left-btn, .right-btn {
    display: flex;
    align-items: center;
    transition: left 0.4s ease;
}
.left-btn > img, .right-btn > img {
    height: 2rem;
    cursor: pointer;
}
.left-btn {
    position: absolute;
    left: -19px;    
}
.right-btn {
    position: absolute;
    left: calc(100% + 19px);
}
.content-container:hover {
    .left-btn {
        left: calc(0% + 19px);
        transition: 0.4s; 
    }
    .right-btn {
        left: calc(100% - 38px);
        transition: 0.4s; 
    }
}

.dot-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}
.dot-btn {
    height: 0.7rem;
    width: 0.7rem;
    background: transparent;
    border-radius: 50%;
    margin: 0.3rem;
    border: 1px var(--blanco) solid;
    cursor: pointer;
}

.dot-btn:hover {
    border: 2px var(--blanco) solid; 
}
.dot-btn.active {
    background: var(--blanco);
    border: 1px solid var(--blanco);
}


/* Tablet horizontal */
@media (max-width: 1080px) { 
    .text {
        margin-right: 30%;
    }
    #carrusel-h1 {
        font-size: 3.4rem;
    }
    #carrusel-h2 {
        font-size: 2.4rem;
    }
}
/* Tablet vertical */
@media (max-width: 768px) {
    .text {
        margin-right: 20%;
    }
    #carrusel-h1 {
        font-size: 3rem;
    }
    #carrusel-h2 {
        font-size: 2rem;
    }
 }
/* Mobil 1 */
@media (max-width: 480px) { 
    .text {
        margin-right: 10%;
    }
    #carrusel-h1 {
        font-size: 3rem;
    }
    #carrusel-h2 {
        font-size: 2rem;
    }
}
/* Mobil 2 */
@media (max-width: 375px) { 
    .text {
        margin-right: 0;
    }
    #carrusel-h1 {
        font-size: 2.5rem;
    }
    #carrusel-h2 {
        font-size: 1.8rem;
    }
}

/* --------------- NUESTROS PRODUCTOS ---------------*/
.nuest-prod {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding-top: 8rem;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
}
#nuestprodH1 {
    font-size: 2rem;
    color: var(--colorSecundario);
    
}
#nuestprod-line {
    border-top: 2px solid var(--colorPrimario);
    height: 2px;
    width: 10rem;
    margin: 2rem;
}

.nuestprod-carrusel-maincont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#nuestprod-cont-carrusel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 320px ;
    width: 100%;
}
#nuestprod-carrusel {
    height: auto;
    width: calc(100% - 90px);
    margin: 1rem;
    background-color: var(--blanco);
    overflow-x: hidden;
}
#nuestprod-carrusel-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: auto;
    height: fit-content;
    justify-content: left;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0) !important;
    min-width: 20% !important;
}
.card img {
    scale: 1.15;
}
.card-front {
    padding: 0;
    top: 0;
    scale: 1.2;
}
.card-front h3 {
    font-family: var(--font-light);
    font-size: medium;
}
.card-back {
    width: 60%;
    height: 90%;
    max-height: 70%;
    top: 10%;
    object-fit: fill;
    scale: 1;
    margin-bottom: 10px;
    border-radius: 10px;
}
#nuestprod-left-btn, #nuestprod-right-btn {
    display: flex;
    align-items: center;
}
#nuestprod-left-btn > img, #nuestprod-right-btn > img {
    height: 1.4rem;
    cursor: pointer;
}
#nuestprod-left-btn {
    filter: invert();  
}
#nuestprod-right-btn {
    filter: invert();
}

.dot-btn-containerNP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}
.dot-btnNP {
    height: 0.7rem;
    width: 0.7rem;
    background: transparent;
    border-radius: 50%;
    margin: 0.3rem;
    border: 1px var(--colorSecundario) solid;
    cursor: pointer;
}
.dot-btnNP:hover {
    border: 2px var(--colorSecundario) solid; 
}
.dot-btnNP:active{
    background: var(--colorSecundario);
    border: 1px solid var(--colorSecundario);
}
.dot-btnNP.active {
    background: var(--colorSecundario);
    border: 1px solid var(--colorSecundario);
}
#dot-btnNP3, #dot-btnNP4, #dot-btnNP5 {
    display: none;
}
.tutorial-nuestromenu {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    height: 100%;
    width: 100%;
    padding: 40px;
    gap: 2rem;
}
#tutorial-cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
#ennuestroslocales-cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.tutmen-pic {
    height: 100%;
    width: 100%;
    transition: transform 0.4s ease;
}
.tutmen-pic:hover {
    transform: scale(1.08);
    transition: 0.5s;
}
.tutmen-content {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}
.tutmen-tapetext{
    height: 1.5rem;
    width: fit-content;
    color: var(--colorSecundario);
    background-color: var(--blancoSuave);
    padding: 0 2%;
}
.tutmen-titleh1{
    font-size: 2rem;
    color: var(--blancoSuave);
}
.tutmen-btn{
    display: flex;
    height: 2rem;
    width: fit-content;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: var(--colorSecundario);
    color: var(--blancoSuave);
    font-size: small;
}
/* Tablet horizontal */
@media (max-width: 1080px) { 
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0) !important;
        min-width: 25% !important;
    }
    #dot-btnNP3 {
        display: block;
    }
    .tutmen-tapetext{
        font-size: xx-small;
    }
}
/* Tablet vertical */
@media (max-width: 768px) {
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0) !important;
        min-width: 33% !important;
    }
    #dot-btnNP3, #dot-btnNP4 {
        display: block;
    }
    .tutorial-nuestromenu {
        flex-direction: column;
        align-items: center;
    }
    .tutmen-titleh1{
        font-size: larger;
    }
    .card-back > p {
        font-size: small !important;
    }
 }
/* Mobil 1 */
@media (max-width: 480px) { 
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0) !important;
        min-width: 50% !important;
    }
    #dot-btnNP3, #dot-btnNP4, #dot-btnNP5 {
        display: block;
    }
    .tutmen-tapetext{
        display: none;
    }
    .tutmen-titleh1{
        font-size: medium;
    }
    .card-back > p {
        font-size: x-small !important;
    }
    .col0 {
        width: 460px;
    }
}
/* Mobil 2 */
@media (max-width: 375px) { 
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0) !important;
        min-width: 50% !important;
    }
    #dot-btnNP3, #dot-btnNP4, #dot-btnNP5 {
        display: block;
    }
    .card-back > p {
        font-size: x-small !important;
    }
    .tutorial-nuestromenu {
        flex-direction: column;
        align-items: center;
    }
    .col0 {
        width: 375px;
    }
}

/* --------------- NUESTRO TE ---------------*/
.nuest-te {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blancoSuave);
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
}
#nuestro {
    color: var(--colorPrimario);
    font-size: medium;
}
#cualvas {
    font-size: 2rem;
}
#content-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 10vw;
}
.col {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.col h3 {
    color: var(--colorPrimario);
    font-size: medium;
}
.col p {
    color: var(--colorSecundario);
    font-size: small;
}
.col0 {
    display: none;
}
.col2 img {
    height: 100%;
    width: 100%;
}
.prodC1 {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
}
.prodC1, .prodC3 {
    margin-top: 2rem;
}

/* Tablet horizontal */
@media (max-width: 1080px) { 
    #content-cont {
        display: flex;
        flex-direction: column;
        margin: 1rem 3vw;
    }
    .col0 {
        display: flex;
    }
    .col2 {
        display: none;
    }
    .prodC1, .prodC3 {
        text-align: center;
    }
}
/* Tablet vertical */
@media (max-width: 768px) {
   
 }
/* Mobil 1 */
@media (max-width: 480px) { 
  
}
/* Mobil 2 */
@media (max-width: 375px) { 
    
}


/* --------------- CERCA TUYO ---------------*/
.tiendasercatuyo {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 70vh;
    width:  100%;
    background-color: var(--colorSecundario);
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
#cont-fondo {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;    
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    top: 0%;
}
#fondo-cercatuyo {
    display:flex;
    position: absolute;
    translate: 0 -350px;
    height: 90vh;
    width: 100%;
    filter:grayscale() saturate() opacity(0.5);
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
}

#cercatuyoH2 {
    color: var(--blancoSuave);
    z-index: 2;
    font-size: 3rem;
    margin-bottom: -1.7rem;
}
#cercatuyoH1 {
    color: var(--colorPrimario);
    z-index: 2;
}
#cercatuyoP {
    color: var(--blancoSuave);
    z-index: 2;
}
#cercatuyoBtn {
    display: flex;
    height: 6vh;
    width: 8rem;
    margin-top: 2rem;
    font-family: var(--font-paragraph);
    font-size: 0.9rem;
    color: var(--blanco);
    border: var(--gris) 2px solid;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}
#cercatuyoBtn:hover {
    border: var(--blanco) 2px solid;
    transition: 0.4s;
}
.tiendasercatuyo a {
    z-index: 2;    
}


/* Tablet horizontal */
@media (max-width: 1080px) { 
   
}
/* Tablet vertical */
@media (max-width: 768px) {
    #fondo-cercatuyo {
        height: 98%;
        width: auto;
        overflow-x: hidden;
        translate: 0 -600px;
    }
    #cercatuyoH2 {
        font-size: 1.2rem;
        margin-bottom: -0.7rem
    }
    #cercatuyoH1 {
        font-size: 2rem;
    }
    #cercatuyoP {
        font-size: 0.8rem;
    }
    
 }
/* Mobil 1 */
@media (max-width: 480px) { 
  
}
/* Mobil 2 */
@media (max-width: 375px) { 
    
}